<ion-content [fullscreen]="true">
  <section class="rotate panel">
    <h1>{{lifes1}} Vidas</h1>
    <article>
      <button class="contador">{{timeCountdown1}}</button>
      <button class="operation" (click)="removeLife1()">Menos</button>
      <button class="operation" (click)="addLife1()">Más</button>
    </article>
  </section>

  <section class="panel">
    <button class="contador">{{timeCountdown2}}</button>
    <h1>{{lifes2}} Vidas</h1>
    <article>
      <button class="operation" (click)="removeLife2()">Menos</button>
      <button class="operation" (click)="addLife2()">Más</button>
    </article>
  </section>
</ion-content>