.rotate {
    rotate: 180deg;
}

.panel {
    padding: 20px;
    text-align: center;
    height: 49%;
}

.panel .operation{
    background-color: blue;
    color: white;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    border-radius: 100px;
}

