
<ion-content [fullscreen]="true">

<section class="middle">
  <h1>
    Opciones
  </h1>
</section>

<section class="middle">
  <ion-button id="new-game-toast" (click)="newGame()" class="btn-nueva-partida">Nueva partida</ion-button>
  <ion-toast trigger="new-game-toast" message="Has comenzado una nueva partida." [duration]="1000"></ion-toast>

</section>

<section class="middle">
  <h2>Tiempo del turno</h2>
  <h3>{{minutes}} min {{seconds}} s</h3>
  <ion-button id="timer-picker">Cambiar tiempo</ion-button>
  <ion-picker trigger="timer-picker" [columns]="pickerColumnsTimer" [buttons]="pickerButtonsTimer"></ion-picker>
  </section>


<section class="middle">
  <h2>Número de vidas</h2>
  <h3>{{lifes}}</h3>
  <ion-button id="lifes-picker">Cambiar número de vidas</ion-button>
  <ion-picker trigger="lifes-picker" [columns]="pickerColumnsLifes" [buttons]="pickerButtonsLifes"></ion-picker>

</section>
</ion-content>

