<ion-tabs>

  <ion-tab-bar slot="bottom">
     
    <ion-tab-button tab="lifes-no-time" href="/lifes-no-time">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Vidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lifes-with-time" href="/lifes-with-time">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Vidas y Turnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="options" href="/options">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Opciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
